@model IEnumerable<Bus>
@{
    ViewBag.Title = "Буси";
    Layout = "~/Areas/Bus/Views/Shared/_AdminLayout.cshtml";
}
<h2>
    @ViewBag.Title
</h2>
@Html.ActionLink("Додати", "Create", "Bus", null, new { @class = "btn btn-primary" })
<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Маршрут
            </th>
            <th>
                Перевізник
            </th>
            <th>
                Бренд
            </th>
            <th>
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Number
            </td>
            <td>
                @item.Route.Name
            </td>
            <td>
                @item.Transporteur.FullName
            </td>
            <td>
                @item.Brand.Name
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", "Bus", new { id = item.ID }, new { @class = "btn btn-xs btn-default" })
                @Html.ActionLink("Видалити", "Delete", "Bus", new { id = item.ID }, new { @class = "btn btn-xs delete-btn-style btn-danger" })
            </td>
        </tr>
    }
</table>

