@{
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "maps.if.ua";
    var currentCity = ((maps.Web.Controllers.BaseController)ViewContext.Controller).CurrentCity;
}
@section header 
{
    <script type="text/javascript" src="/scripts/default/index.js"></script>
}

<div class="background-map" id="map"
     data-lat="@currentCity.CenterLat.ToString(CultureInfo.InvariantCulture)"
     data-lng="@currentCity.CenterLng.ToString(CultureInfo.InvariantCulture)"
     data-zoom="@currentCity.Zoom">
</div>
<ul class="projects">
    <li>
        <a href="@Url.Action("Index", "Home", new { area = "utility" })" class="utility">
            <img src="/Content/images/utility_logo_2.png" /> Комуналка
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Home", new { area = "bicycle" })" class="bicycle">
            <img src="/Content/images/bycicle_2.png" /> Велорух
        </a>
    </li>
</ul>
