@{
    var currentUser = ((maps.Web.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    @Styles.Render("~/Content/css/admin")
    @RenderSection("styles", false)
</head>
<body>
    <div class="container">
        <div class="col-lg-9 col-lg-offset-2">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&language=uk&libraries=geometry"></script>
    <script type="text/javascript" src="/Scripts/google.maps.extend.js"></script>
    @RenderSection("header", false)
</body>
</html>
