@model TransporteurLoginView
@{
    ViewBag.Title = "Вхід для перевізників";
    Layout = "~/Areas/Bus/Views/Shared/_Layout.cshtml";
    var currentUser = ((BaseController)ViewContext.Controller).CurrentUser;
}
@section header {
    @Scripts.Render("~/Scripts/bus/login-index.js")
}
<div class="raw">
    <p></p>
</div>
<div class="main-wrapper">
    <div class="row">
        <div class="col-sm-4 "></div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <fieldset>
                    <legend>Вхід</legend>
                    @Html.Hidden("ID", Model.ID)
                    @Html.Hidden("_ID", Model._ID)
                    @Html.Hidden("UserIsExist", Model.UserIsExist)
                    <div class="form-group @Html.HasErrorClass("Email", "has-error")">
                        <label class="col-sm-4 control-label" for="Email">
                            Телефон
                        </label>
                        <div class="col-sm-4">
                            @if (Model.Mobiles == null || Model.Mobiles.Count < 2)
                            {
                                <div class="checkbox">
                                    <label>
                                        @Model.Mobile
                                    </label>
                                </div>
                                @Html.Hidden("Mobile", Model.Mobile)
                            }
                            else
                            {
                                @Html.DropDownList("Mobile", Model.SelectListMobiles, new { @class = "form-control" })
                            }
                        </div>
                        <div class="col-sm-4">
                            <div class="btn btn-primary" id="SendCode">@(Model.UserIsExist ? "Нагадати пароль" : "Відправити код")</div>
                        </div>
                    </div>
                    <div class="form-group  @Html.HasErrorClass("Password", "has-error")">
                        <label class="col-sm-4 control-label" for="Password">
                            @(Model.UserIsExist ? "Пароль" : "Код")
                        </label>
                        <div class="col-sm-4">
                            @if (Model.UserIsExist)
                            {
                                @Html.Password("Password", Model.Password, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.TextBox("Password", Model.Password, new { @class = "form-control" })
                            }
                        </div>
                        <div class="col-sm-4">
                            @Html.ValidationMessage("Password")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button type="submit" class="btn btn-primary">
                                Увійти
                            </button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>