@model IEnumerable<BicycleParking>

@{
    ViewBag.Title = "Велопарковки";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>
    Велопарковки
</h2>
@Html.ActionLink("Додати", "Create", "BicycleParking", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Додати (для медиків)", "CreateMedical", "BicycleParking", null, new { @class = "btn btn-primary" })

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Місто
            </th>
            <th>
                Додав
            </th>
            <th>
                Iснуюча
            </th>
            <th>
                Тип
            </th>
            <th>
                Фото
            </th>
            <th>
                Ємність
            </th>
            <th>
                Адреса
            </th>
            <th>
                Віддаленість
            </th>
            <th>
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.City.Name
            </td>
            <td>
                @if (item.VerifiedDate.HasValue)
                {
                    <h5>
                        <span class="label label-success ">Перевірено </span><a class="btn btn-xs btn-default" href="@Url.Action("Unverify", "BicycleParking", new { id = item.ID })"><span class="glyphicon glyphicon-remove"></span></a>
                    </h5>
                }
                else
                {
                    <h5>
                        <span class="label label-warning">Не перевірено </span><a class="btn btn-xs btn-default" href="@Url.Action("Verify", "BicycleParking", new { id = item.ID })"><span class="glyphicon glyphicon-ok"></span></a>
                    </h5>
                }
                @(item.IsMedical ? "Медична" : "")
            </td>
            <td>
                @item.User.FirstName @item.User.LastName
            </td>
            <td>
                @(item.Exist ? "Так" : "Ні")
            </td>
            <td>
                @item.TypeStr
            </td>
            <td>
                @if (!string.IsNullOrWhiteSpace(item.PhotoUrl))
                {
                    <img src="@item.PhotoUrl?w=50&h=50&mode=crop" />
                }
            </td>
            <td>
                @item.Capacity
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.CenterDistance.ToString("0.000") км
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", "BicycleParking", new { id = item.ID }, new { @class = "btn btn-xs btn-default" })
                @Html.ActionLink("Видалити", "Delete", "BicycleParking", new { id = item.ID }, new { @class = "btn btn-xs delete-btn-style btn-danger" })
            </td>
        </tr>
    }
</table>
