@model BicycleParking


<div class="thumbnail">
    @if (!string.IsNullOrWhiteSpace(Model.PhotoUrl))
    {
        <img src="@Model.PhotoUrl?w=300&h=300&mode=crop" />
    }
    <div class="caption">
        <strong>Тип: @Model.TypeStr</strong>
    </div>
   
    @if (Model.Capacity > 0)
    {
        <div class="caption">
            <strong>Місткість: @Model.Capacity @Model.Capacity.CountWord("місце", "місця", "місць")</strong>
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <div class="caption">
            @Model.Description
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.Address))
    {
        <div class="caption">
            @Model.Address
        </div>
    }
</div>