@model RouteView
@{
    ViewBag.Title = Model.ID == 0 ? "Додати маршрут" : "Змінити дані про маршрут";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header
{
}
<h2>@ViewBag.Title</h2>
<p></p>
@using (Html.BeginForm("Edit", "Route", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        @Html.Hidden("ID", Model.ID)
        <div class="form-group @Html.HasErrorClass("Name", "has-error")">
            <label class="col-sm-3 control-label" for="LastName">
                Назва
            </label>
            <div class="col-sm-5">
                @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessage("Name")
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Зберегти
            </button>
            @Html.ActionLink("Назад", "Index", null, null, new { @class = "btn" })
        </div>
    </fieldset>
}
<p></p>