@model IEnumerable<maps.Model.Route>
@{
    ViewBag.Title = "Маршрути";
    Layout = "~/Areas/Bus/Views/Shared/_AdminLayout.cshtml";
}
<h2>
    @ViewBag.Title
</h2>
@Html.ActionLink("Додати", "Create", "Route", null, new { @class = "btn btn-primary" })
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", "Route", new { id = item.ID }, new { @class = "btn btn-xs btn-default" })
                @Html.ActionLink("Видалити", "Delete", "Route", new { id = item.ID }, new { @class = "btn btn-xs delete-btn-style btn-danger" })
            </td>
        </tr>
    }
</table>

